@import "../../css/globals";

$color: color('brown');
$stop: 95%;

.board {
    width: 624px;
    height: 624px;
    border: 12px solid $color;
    border-radius: 5px;
    background-image: linear-gradient(to right, transparent $stop, $color $stop), linear-gradient(to bottom, transparent $stop, $color $stop);
    background-size: 152px 152px;
}
